body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #181818;
}
.main{
    width: 1400px;
    height: 1080px;
    display: flex;
    flex-direction: column;
}
.top{
    background-color: #181818;
    width: 1920px;
    height: 85px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
    ;
}
.big{
    width: 1400px;
    height: 583px;
    margin-top: 90px;
}
.logo{
    margin-left: 260px;
    width: 90px;
    height: 20px;
}
.top_right{
    margin-right: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#textt{
    color: white;
    font-family: cursive;
    margin-left: 30px;
    margin-right: 20px;
    font-size: large;
}
.end{
    width: 1400px;
    margin-top: 50px;
}